body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.title {
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}

.report-container {
    width: 100%;
}

.test-set-container {
    padding: 0 10px 0 10px;
    margin-bottom: 30px;
}

.auto-test-set-title {
    min-height: 40px;
    min-width: 240px;
    padding-left: 10px;
    line-height: 40px;
    font-size: 1.6em;
    border: #808080 2px solid;
}

.manual-test-set-title {
    min-height: 40px;
    line-height: 40px;
    font-size: 1.6em;
    min-width: 240px;
    padding-left: 10px;
    margin-top: -2px;
    border: gray 2px solid;
    background-color: #337ab7;
}

.auto-tests-list {
    border: gray 2px solid;
    border-bottom-width: 1px;
    margin-top: -2px;
}

.manual-tests-list {
    border: gray 2px solid;
    border-bottom-width: 1px;
    margin-top: -2px
}

.auto-test-item {
    padding-left: 10px;
    min-height: 32px;
    line-height: 32px;
    font-size: 1.4em;
}

.manual-test-item {
    padding-left: 10px;
    min-height: 32px;
    line-height: 32px;
    font-size: 1.4em;
    background-color: #d9edf7;
    color: #333;
}

.line {
    height: 1px;
    background-color: gray
}

.button-red, #history-delete-all-button {
    font-size: 1em;
    background-color: #c52222;
    color: white;
    border: 1px grey solid;
    cursor: pointer;
}

.button-blue, #check-idle-button, #check-lock-button {
    font-size: 1em;
    background-color: #2323c4;
    color: white;
    border: 1px grey solid;
    cursor: pointer;
}

.button-green {
    font-size: 1em;
    background-color: #23c223;
    color: white;
    border: 1px #006400 solid;
    cursor: pointer;
}

.title-container {
    display: inline-block;
    width: 180px;
    margin-right: 10px;
}

.save-report-container {
    display: inline-block;
    float: right;
    margin: 0.7em 0 0 0;
    font-size: 1.4em;
}
